/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {

 }

 body {
     font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
     line-height:25px;
     padding-top: 60px;
 }

 .button {
  text-align: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#fff)); 
    zoom: 1;
 }

 ul {
    vertical-align: center;
    text-align: center;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 li {
    text-align: center;
  vertical-align: center;
     float: left;
 }

 .navbar {

  text-decoration: none;
  color: white;
  padding: 10px;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#fff));
  zoom: 1;
 }


