/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
  *Credits to the magician/sound engineer/cab driver/future coding *god - Graeme Kean


 */



 h1 {
  padding: 5px;
  margin: 0px;
 }

 body {
     font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
     line-height:25px;
     padding-top: 60px;
 }

 .button {
  text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#fff)); 
    zoom: 1;
 }

 ul {
    vertical-align: center;
    text-align: center;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 li {
    text-align: center;
  vertical-align: center;
     float: left;
 }

 .navbar {

  text-decoration: none;
  color: black;
  padding: 10px;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#fff));
  zoom: 1;
 }

 .container {

  position: absolute;
 width: 100%;
 top: 100px;
 text-align: center;
 vertical-align: center;
 padding-bottom: 100px;

 }

 .holder {
 width: 500px;
 padding: 20px;
 margin-top: 15px;
 background-color: white;
 opacity: 0.8;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
 border: 2px solid black;
 box-shadow: 0px 10px 5px #404242;

 }

 .main_navbar {
  color: black;
  top: 100px;
  position: absolute;
  
 }

 .title_bar {
 width: 100%;
 text-align: left;
 color: black;
 top: 0px;
 left: 0%;
 height: 50px;
 position: fixed;
 padding-left:20px;
 padding-top: 20px;
 z-index: 100;
 }
 .title_bar a{
  color: black;
  text-decoration: none;


 }
 #bg {
   position: fixed; 
   top: -50%; 
   left: -50%; 
   width: 200%; 
   height: 200%;
 }
 #bg img {
   position: absolute; 
   top: 0; 
   left: 0; 
   right: 0; 
   bottom: 0; 
   margin: auto; 
   min-width: 50%;
   min-height: 50%;
   z-index: 0;
 }


